#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }

  #mySidenav a:hover {
    left: 0;
  }

  #Home {
    top: 20px;
    background-color: gray;
  }

  #blog {
    top: 80px;
    background-color: rgb(230, 201, 86);
  }

  #about {
    top: 140px;
    background-color: grey;
  }

  #regal {
    top: 200px;
    background-color: rgb(230, 201, 86);
  }

  #gal{
    top: 260px;
    background-color: grey;
  }

  body {
    background-image: url('9178408C-.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 20px;
    transform: translate(588.5px, -325px);
}

#search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#search-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: rgb(230, 201, 86);
    color: white;
    border: 1px solid rgb(230, 201, 86);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}

#search-button:hover {
    background-color: rgb(230, 201, 86);
}


body {
    font-family:Arial, Helvetica, sans-serif;
}


nav {
    margin-bottom: 6rem;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    align-items: baseline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}




input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical 
  }
  

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  li {
    float: left;
    top: auto;
    left: auto;
}

li a {
    align-items: center;
    justify-content: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}